{
    "env": {
        "development": {
            "presets": [
                [
                    "env",
                    {
                        "targets": "current"
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "targets": "current"
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": 4
                        },
                        "modules": false
                    }
                ]
            ]
        }
    },
    "plugins": [
        "transform-runtime",
        "transform-object-rest-spread",
        "external-helpers"
    ],
    "sourceMaps": "inline",
    "retainLines": true
}
